/* Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Source+Sans+Pro:wght@300&display=swap');
/* Components */
@import './header.css';
@import './buttons.css';

/* Reset CSS */
* {
  font-family: 'PT Serif', serif;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

.container {
  width: 1500 px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}